.collapse {
    position: relative;
    height: auto;
}

.collapseTitle {
    background-color: $primary-color;
    color: $color-white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-weight: 500;
    }
}

.collapseText {
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0;
    overflow: hidden;
    background-color: $background-color;
    color: $primary-color;

    li {
        list-style: none;
        font-weight: 500;
        padding: 0;
        margin-top: 5px;
    }
}

.slideUp {
    visibility: hidden;
    max-height: 0;
    transition: visibility 0s 1.5s, max-height 1.5s ease-in-out;
}

.slideDown {
    visibility: visible;
    max-height: 500px;
    transition: max-height 1.5s ease-in-out;
}

.rotation {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}
