$font-stack: Montserrat;
$background-color: #000000;
$color: #ffffff;

.footer {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    align-items: center;
    justify-content: center;
    height: 20%;
    padding: 25px;

    img {
        display: flex;
        width: 5%;
        height: auto;
        margin-bottom: 15px;
    }

    p {
        color: $color;
        font: $font-stack;
        font-size: larger;
        margin-top: 15px;
    }
}